*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.wire {
	border: 1px solid red;
}
.img1{
	width:150px; 
	height:150px;

}
.img2 {
	height: 500px;
	width:100%;
}

body {
	background-image: url(../images/stripes.jpg);
}

.main1 {		
	padding-left:50px;
	padding-right:50px;
	
}

#jumbo1 {
	padding-top:20px;
}

#leftright{
	min-height: 850px;
}

.navnav{
	background-color:#CB793A;


}

.jumbo2{
	color: white;
	text-align: center;

}
.row1{
	background-color:rgba(101,67,35, 0.5);
}
.left{
	background-color: rgba(101,67,35, 0.5);
	color: white;
}
.right {
	background-color:rgba(101,67,35, 0.5);
	color:white;
}

.img-thumbnail{
	height:300px;
	width:350px;
	background-color: rgba(0, 0, 0, 0.5);	
}

.form1{

}


#borderimg1 { 
    border: 10px solid transparent;
    padding: 15px;
   
}


.button1 {
	margin-top: px;
}
.reserv {
	background-color:#CB793A;
	min-height:450px;
	
	
}
.conserv {
	margin-top:20px;
}
.buton {
	margin-top:20px;
	background-color: brown;
}

.naver {
	font-size:20px;
}

.feature {
	height:100%;
	width:100%;
	
}
.feat {
	text-align: center;
	color: white;
}

.rowfeat {
	background-color:#CB793A;
	margin-top: 40px;
	margin-bottom: 20px;
}

.featname{
	color: white;
}

head {
	overflow: hidden;
}
